.newProduct {
    text-align: center;

    .container {
        max-width: 1170px;

        .title-wrapper {
            margin-bottom: 30px;

            .title {
                font-size: 26px;
                font-weight: 600;
                margin-bottom: 30px;
                margin-top: 50px;
            }

                .alert {
                    font-size: 16px;
                    font-weight: 500;
                    background-color: #f7f7f7;
                    border-radius: 5px;
                    padding: 10px 30px;
                }
        }
       
        .inner {
            display: flex;

            .product-image {
                flex-basis: 50%;
                padding: 50px 0;

                .image-file {
                    display: block;
                    margin: 0 auto;
                    width: 500px;
                    object-fit: cover;
                }

                .no-file {
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    padding: 10px;
                    font-weight: 500;
                }
            }

            .form {
                padding: 50px 20px;
                flex-basis: 50%;
                display: flex;
                flex-direction: column;
                font-size: 18px;

                .input {
                    margin-bottom: 15px;
                    padding: 10px 15px;
                    border: 1px solid #999;
                    border-radius: 5px;
                    font-size: 16px;
                }

                .button {
                    background-color: #111;
                    padding: 15px;
                    color: #fff;
                    transition: 0.2s;
                    border-radius: 5px;

                    &:hover {
                        background-color: #757575;
                    }
                }
            }
        }
    }    
   
}