.home {

    .main-content {
        .main-image {
            display: block;
            margin-bottom: 30px;
        }

        .container {
            .des {
                text-align: center;
            
                h3 {
                    font-size: 50px;
                    font-weight: 800;
                    margin-bottom: 30px;
                }
            
                p {
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: 0.04rem;
            
                    span {
                        display: block;
                    }
                }
            }
        }
    }
}

